{% for product in object_list %}
    {{ product.name }} - {{ product.amount }} em estoque
    <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="amount" min="1">
        <input type="submit" value="Adicionar ao Estoque">
    </form>
    <br>
    <form method="POST" action="{% url 'dell-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="amount" min="1">
        <input type="submit" value="Apagar do estoque">
    </form>
{% endfor %}
